body {
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-color: #3E5EA1
}
p {
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    0px -1px 0 black,
    0px 1px 0 black,
    -1px 0px 0 black,
    1px 0px 0 black;
}
h1 {
  color: rgba(255, 255, 255);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    0px -1px 0 black,
    0px 1px 0 black,
    -1px 0px 0 black,
    1px 0px 0 black;
}
h2 {
    color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    0px -1px 0 black,
    0px 1px 0 black,
    -1px 0px 0 black,
    1px 0px 0 black;
}
h3 {
     color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    0px -1px 0 black,
    0px 1px 0 black,
    -1px 0px 0 black,
    1px 0px 0 black;
}
hr {
  color: white;
  border-radius: 10px;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    0px -1px 0 black,
    0px 1px 0 black,
    -1px 0px 0 black,
    1px 0px 0 black;
}
ul {
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    0px -1px 0 black,
    0px 1px 0 black,
    -1px 0px 0 black,
    1px 0px 0 black;
}
li {
    color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    0px -1px 0 black,
    0px 1px 0 black,
    -1px 0px 0 black,
    1px 0px 0 black;
}
.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.ProgrammingLanguageListContainer li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 3px
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
      text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    0px -1px 0 black,
    0px 1px 0 black,
    -1px 0px 0 black,
    1px 0px 0 black;
}

.separateLines {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3px
}